@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background:rgb(170, 196, 241)
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    display: flex;
    height: max-content;
    min-height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(138, 228, 183), rgb(170, 196, 241));
}

.container {
    margin-top: 60px 0;
    width: 98%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px 0;
    align-items: stretch;
}

.firstColumnContainer {
    box-shadow: 0px 0px 16px -8px rgba(66, 68, 90, 1);
    background-color: white;
    width: 57%;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.firstResultContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
}

.firstResultBox {
    width: auto;
    align-items: center;
    width: 58%;
    display: flex;
    flex-direction: column;
}

.firstResultBox div {
    display: flex;
}

#map2D {
    width: 90%;
    min-height: 450px;
    height: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}
.mapboxgl-map {
    box-shadow: 0px 0px 16px -8px rgba(66, 68, 90, 1);
    border-radius: 12px;
}
.secondColumnContainer {
    box-shadow: 0px 0px 16px -8px rgba(66, 68, 90, 1);
    background-color: white;
    width: 38%;
    padding: 15px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.secondResultContainer {
    width: 100%;
    padding: 5px 15px 0 15px;
    height: auto;
}

.secondResultBox {
    margin-left: 25px;
    font-size: 24px;
}

.secondResultBox p {
    margin: 5px 0;
}

#map {
    width: 96%;
    height: 57%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
}

.back {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    transition: all 0.5s ease;
    height: auto;
}
.back:hover {
    font-weight: bold;
    transform: scale(103%) translateY(1px);
}

.back::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 75%;
    background: linear-gradient(45deg, rgb(138, 228, 183), rgb(170, 196, 241));
    z-index: 1;
}

.table {
    font-size: 35px;
    font-weight: 600;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 0 10px 15px;
    align-content: center;
}

.table::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 35px;
    background: linear-gradient(45deg, rgb(138, 228, 183), rgb(170, 196, 241));
}

.coordinates {
    font-size: 28px;
    color: grey;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 85%;
    margin-left: 15px;
    gap: 15px;
}

@media screen and (max-width: 1400px) {
    body {
        align-items: baseline;
    }
    .secondColumnContainer, .firstColumnContainer {
        width: 100%;
        height: 75%;
    }
    .secondResultBox, .coordinates {
        font-size: 36px;
    }
    .table {
        font-size: 50px;
    }
    .back {
        font-size: 40px;
    }
}