@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@keyframes slideUp {
    0% {
      opacity: 0;
      transform: scale(1, 0.6) translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0%);
    }
}

@keyframes slideDown {
    0% {
      opacity: 1;
      transform: scale(1) translateY(0%);
    }
    100% {
      opacity: 0;
      transform: scale(1, 0.6) translateY(-50%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: scale(1, 0.6) translateX(20%);
      }
      100% {
        opacity: 1;
        transform: scale(1) translateX(0%);
      }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Poppins';
    font-size: 24px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(138, 228, 183), rgb(170, 196, 241));
    flex-direction: column;
}

.main {
    box-shadow: 0px 0px 16px -8px rgba(66, 68, 90, 1);
    width: 1100px;
    height: 470px;
    background-color: white;
    padding: 25px 30px;
    border-radius: 15px;
}

.title {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
    transition: all 0.5s ease;
    width: 20%;
}

.title:hover {
    transform: translateX(5px) scale(102%);
}

.title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 40px;
    background: linear-gradient(45deg, rgb(138, 228, 183), rgb(170, 196, 241));
}

.container {
    margin: 5px;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.columnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 47%;
}

.titleContainer, .nameContainer, .coordinatesContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.box-title {
    min-width: 140px;
    font-weight: bold;
    height: 100%;
}

.selectBoxContainer {
    height: 100%;
    width: 230px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 98;
}

.startSelectTitle, .endSelectTitle {
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    width: 100%;
    background-color: white;
    position: relative;
}

.startSelectTitle img, .endSelectTitle img {
    position: absolute;
    width: 15px;
    top: 40%;
    right: 18%;
    z-index: 100;
}

.selectBox {
    text-align: center;
    width: 230px;
    margin-right: 10px;
    font-family: 'Poppins';
    border-radius: 0 0 0 10px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    background-color: white;
    display: none;
    height: 200px;
    overflow-y: scroll;
    z-index: 99;
}
.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 97;
    display: none;
}

.slideUp {
    animation: slideUp 0.3s ease-in-out;
}

.slideDown {
    animation: slideDown 0.3s ease-in-out;
}

.selectBox option:hover {
    background-color: rgb(228, 229, 240);
    border-radius: 8px;
}

.nameContainer {
    margin-bottom: 20px;
}

input[type="text"]{
    box-shadow: 0px 0px 6px -2px rgba(66, 68, 90, 1);
    font-family: inherit;
    border: none;
    padding: 3px 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    justify-content: flex-end;
    min-width: 180px;
    outline: none;
    width: 250px;
    font-size: 20px;
}
input[type="text"]:hover{
    transform: scale(102%);
    background-color: rgb(228, 229, 240);
}

::placeholder {
    color: #999;
}

input[type="text"]:not(:placeholder-shown) {
    color: rgb(75, 75, 75);
    font-weight: bold;
}

.input-radio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
}

.button1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin-right: 10px;
}

.button1 div {
    display: flex;
    width: 70px;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid;
    width: 16px;
    height: 16px;
    transition: all 0.3s ease-in;
    accent-color: rgb(0, 0, 0);
}

input[type="radio"]:hover {
    transform: scale(105%);
}

input[type="radio"]:hover + label {
    font-weight: bold;
}

.countButton-container {
    margin: 5px;
    height: 60px;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.countButton-container input {
    font-size: 20px;
    height: 40px;
    width: 100px;
    box-shadow: 0px 0px 6px -2px rgba(66, 68, 90, 1);
    color: rgb(82, 79, 79);
    font-family: inherit;
    font-weight: bold;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    background-color: white;
}

.countButton-container input:hover{
    transform: scale(102%);
    background-color: rgb(228, 229, 240);
}

.error-message {
    margin-left: 20px;
    align-items: center;
    color: red;
    font-size: 20px;
    animation: slideRight 0.3s ease-in-out;
}

.What.is.orthodrome {
    margin-top: 15px;
    color: rgb(80, 79, 79);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.What.is.orthodrome:hover {
    transform: scale(103%);
}

.definitionContainer {
    box-shadow: 0px 0px 16px -8px rgba(66, 68, 90, 1);
    width: 1100px;
    background-color: white;
    padding: 25px 30px;
    border-radius: 15px;
    position: absolute;
    z-index: 100;
    margin-bottom: 52px;
    display: none;
    gap: 10px;
}


.definitionContainer img {
    width: auto;
    height: 400px;
    margin: auto;
}

.definition {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.titleDefinition {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

.textDefinition {
    font-size: 26px;
    padding: 15px;
}

.backButton {
    width: 100%;
    display: flex;
    justify-content: end;
}

.backButton button {
    font-size: 26px;
    margin-right: 50px;
    background: none;
    border: none;
    position: relative;
    font: inherit;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.backButton button::after {
    content: "";
    width: 20px;
    height: 3px;
    background: linear-gradient(45deg, rgb(138, 228, 183), rgb(170, 196, 241));
    position: absolute;
    bottom: 0;
    left: 0;
}

.backButton button:hover{
    transform: scale(103%);
}

@media screen and (max-width: 1200px) {
    .main {
        width: 90%;
        height: auto;
    }
    .main .title {
        font-size: 70px;
    }
    .main .container {
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .columnContainer {
        width: 95%;
        font-size: 30px;
    }
    .selectBoxContainer {
        width: 50%;
    }
    .selectBox {
        width: 50%;
        font-size: 26px;
    }
    .chevron-container img {
        right: 30px;
        bottom: 18px;
    }
    input[type="text"] {
        width: 50%;
        font-size: 20px;
    }
    .button1 {
        width: 49%;
        margin: 0;
        font-size: 26px;
    }
    .button1 div {
        width: 33%;
    }
    .countButton-container {
        height: 80px;
        width: 100%;
    }
    .countButton-container input {
        width: 120px;
        height: 50px;
        font-size: 26px;
    }
    .error-message {
        width: 75%;
        font-size: 20px;
    }
    .definitionContainer {
        width: 90%;
        flex-direction: column;
    }
    .definitionContainer img {
        height: 500px;
    }
    .definition {
        width: 95%;
        margin: auto;
    }
}