<!DOCTYPE html>
<html>
<head>
    <title>Orthodrome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='earthIcon.png') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="main">
        <a class="title" href="/">Orthodrome</a>
        <!-- <div class="answer"></div> -->
        <form action="/calculate" method="post">
            <div class="container">
                <div class="columnContainer">
                    <div class="titleContainer">
                        <div class="box-title">Starting point</div>
                        <div class="selectBoxContainer">
                            <div class="startSelectTitle">
                                <p>Select city</p>
                                <img src="{{ url_for('static', filename='chevron.png') }}" alt="chevron">
                            </div>
                            <div  class="selectBox" id="cities"></div>
                        </div>
                    </div>
                    <div class="nameContainer">
                        <span>Name</span>
                        <input type="text" id="name1" name="name1" placeholder="label" value="{{ name1|default('') }}">
                    </div>
                    <div class="coordinatesContainer">
                        <span>Latitude</span>
                        <input type="text" id="Latitude1" name="Latitude1" placeholder="52.2323&deg;" value="{{ Latitude1|default('') }}">
                        <div class="input-radio">
                            <div class="button1">
                                <div>
                                    <input type="radio" id="dot-start-north" name="start-v" value="dot-start-north" {% if start_v == 'dot-start-north' %} checked {% endif %}>
                                    <label for="dot-start-north">North</label>
                                </div>
                                <div>
                                    <input type="radio" id="dot-start-south" name="start-v" value="dot-start-south" {% if start_v == 'dot-start-south' %} checked {% endif %}>
                                    <label for="dot-start-south">South</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="coordinatesContainer">
                        <span>Longitude</span>
                        <input type="text" id="Longitude1" name="Longitude1" placeholder="18.2323&deg;" value="{{ Longitude1|default('') }}">
                        <div class="input-radio">
                            <div class="button1">
                                <div>
                                    <input type="radio" name="start-h" id="dot-start-east" value="dot-start-east" {% if start_h == 'dot-start-east' %} checked {% endif %}>
                                    <label for="dot-start-east">East</label>
                                </div>
                                <div>
                                    <input type="radio" name="start-h" id="dot-start-west" value="dot-start-west" {% if start_h == 'dot-start-west' %} checked {% endif %}>
                                    <label for="dot-start-west">West</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
                <div class="columnContainer">
                    <div class="titleContainer">
                        <div class="box-title">Ending point</div>
                        <div class="selectBoxContainer">
                            <div class="endSelectTitle">
                                <p>Select city</p>
                                <img src="{{ url_for('static', filename='chevron.png') }}" alt="chevron">
                            </div>
                            <div class="selectBox" id="cities2"></div>
                        </div>
                    </div>
                    <div class="nameContainer">
                        <span>Name</span>
                        <input type="text" id="name2" name="name2" placeholder="label" value="{{ name2|default('') }}">
                    </div>
                    <div class="coordinatesContainer">
                        <span>Latitude</span>
                        <input type="text" id="Latitude2" name="Latitude2" placeholder="52.2323&deg;" value="{{ Latitude2|default('') }}">
                        <div class="input-radio">
                            <div class="button1">
                                <div>
                                    <input type="radio" name="end-v" id="dot-end-north" value="dot-end-north" {% if end_v == 'dot-end-north' %} checked {% endif %}>
                                    <label for="dot-end-north">North</label>
                                </div>
                                <div>
                                    <input type="radio" name="end-v" id="dot-end-south" value="dot-end-south" {% if end_v == 'dot-end-south' %} checked {% endif %}>
                                    <label for="dot-end-south">South</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="coordinatesContainer">
                        <span class="details">Longitude</span>
                        <input type="text" id="Longitude2" name="Longitude2" placeholder="18.2323&deg;" value="{{ Longitude2|default('') }}">
                        <div class="input-radio">
                            <div class="button1">
                                <div>
                                    <input type="radio" name="end-h" id="dot-end-east" value="dot-end-east" {% if end_h == 'dot-end-east' %} checked {% endif %}>
                                    <label for="dot-end-east">East</label>
                                </div>
                                <div>
                                    <input type="radio" name="end-h" id="dot-end-west" value="dot-end-west" {% if end_h == 'dot-end-west' %} checked {% endif %}>
                                    <label for="dot-end-west">West</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="countButton-container">
                <input type="submit" href="map.html" value="Count">
                <div class="error-message">
                    {% if error_message or error_detail %}
                        <p>{{ error_message }}</p>
                        <p>{{ error_detail }}</p>
                    {% endif %}
                </div>
            </div>
            
        </form>
        
        <div class="blur"></div>
    </div>
    <div class="definitionContainer">
        <img src="{{ url_for('static', filename='earth.png') }}" alt="earth">
        <div class="definition">
            <p class="titleDefinition">Orthodrome</p>
            <p class="textDefinition">The shortest path between two points on the surface of a sphere. The orthodrome is always part of a great circle, i.e. a circle whose plane intersects the center of the Earth. This makes it the shortest distance</p>
            <div class="backButton">
                <button>back</button>
            </div>
        </div>
    </div>
    <p class="What is orthodrome">What is orthodrome?</p>
<script src="{{ url_for('static', filename='cities.js') }}"></script>
</body>
</html>