<!DOCTYPE html>
<html>
<head>
    <title>Orthodrome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_map.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="firstColumnContainer">
            <div class="firstResultContainer">
                <p class="table">Results</p>
                <div class="firstResultBox">
                    {% if distance is defined %}
                        <p>Orthodrome length: {{ distance }} km</p>
                    {% endif %}
                    
                    {% if azimuth is defined %}
                        <p>Forward azimut: {{ azimuth }} &deg;</p>
                    {% endif %}
                
                    {% if azimuth_inv is defined %}
                        <p>Reverse azimuth: {{ azimuth_inv }} &deg;</p>
                    {% endif %}
                </div>
            </div>
            <div id="map"></div>
            <script>
                const fig = JSON.parse('{{ fig | safe }}');
                const latitudes = fig['data'][0]['lat'];
                const longitudes = fig['data'][0]['lon'];

                fig['layout']['geo']['oceancolor'] = 'lightblue';
                fig['layout']['geo']['landcolor'] = 'lightgreen';

                const myPlot = document.getElementById('map');
                Plotly.newPlot(myPlot, fig.data, fig.layout);
            </script>
            <a class="back" href="/">Back to main page</a>
        </div>



        <div class="secondColumnContainer">
            <div class="secondResultContainer">
                <div class="secondResultBox">
                    {% if name1 is defined %}
                        <p class="table">{{ name1 }}</p>
                    {% endif %}
                    <div class="coordinates">
                        {% if Latitude1 is defined %}
                            <p>{{ Latitude1 }}</p>
                            <p>{{ Longitude1 }}</p>
                        {% endif %}
                    </div>  
                </div>
                <div class="secondResultBox">
                    {% if name2 is defined %}
                        <p class="table">{{ name2 }}</p>
                    {% endif %}
                    <div class="coordinates">
                        {% if Latitude2 is defined %}
                            <p>{{ Latitude2 }}</p>
                            <p>{{ Longitude2 }}</p>
                        {% endif %}
                    </div>  
                </div>
            </div>
            <div id="map2D"></div>
            <script>
                const fig2d = JSON.parse('{{ fig2d | safe }}');
                const latitudes2D = fig2d['data'][0]['lat'];
                const longitudes2D = fig2d['data'][0]['lon'];
                
                const myPlot2D = document.getElementById('map2D');
                Plotly.newPlot(myPlot2D, fig2d.data, fig2d.layout);
            </script>
        </div>
    </div>
</body>
</html>
